body {
    background-color: #f1fbff ;
    padding: 20px 0px;
}

.bal-oszlop {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    background-color: #99cde2 ;
}

.fogadokep {
    border: white solid 5px;
}

#etterem-kep{
    
}

.bal{
    background-color: #99cde2 ;
    font-style: italic;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}